.menu{
    width: 15%;
    background-color: #F7F9FD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    .content-cover {
        margin-top: 80px;
        .menu-content{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            cursor: pointer;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}